<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!isLoading">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio_user</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label class="ion-align-items-start">
     Bienvenido {{username}}  
  </ion-label>
  <ion-nav-link routerDirection="back" component="nav-profile">
    <a>
      <ion-label>Cambiar contraseña</ion-label>
    </a>
  </ion-nav-link>

  <ion-button (click)="onClick()">
    <ion-icon slot="start" name="add"></ion-icon>
    Ver noticias
  </ion-button>
  <ion-button (click)="onClick()">
    <ion-icon slot="start" name="add"></ion-icon>
    Mis situaciones
  </ion-button>
</ion-content>
