<ion-content [fullscreen]="true">

  <div class="auth-container">
    <div class="container">
      <h1 class="heading">👋 Bienvenido<br><br></h1>
      <p class="para">Registro</p>


      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Nombre</legend>
          <ion-input type="text" placeholder="Ingrese su nombre" [(ngModel)]="nombre"></ion-input>
        </fieldset>
      </ion-item>


      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Apellido</legend>
          <ion-input type="text" placeholder="Ingrese su apellido" [(ngModel)]="apellido"></ion-input>
        </fieldset>
      </ion-item>


      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Correo</legend>
          <ion-input type="email" placeholder="Ingrese su correo" [(ngModel)]="correo"></ion-input>
        </fieldset>
      </ion-item>


      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Cedula de identidad</legend> 
          <ion-input type="number" placeholder="Ingrese su cedula" [(ngModel)]="cedula"></ion-input>
        </fieldset>
      </ion-item>


      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Contraseña</legend> 
          <ion-input type="password" placeholder="*******" [(ngModel)]="clave"></ion-input>
        </fieldset>
      </ion-item>


      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Telefono</legend>
          <ion-input type="text" placeholder="Ingrese su telefono" [(ngModel)]="telefono"></ion-input>
        </fieldset>
      </ion-item>


      <ion-button (click)="registrarse()" class="login-button" expand="block">Registrarse</ion-button>
    </div>
  </div>
  
  </ion-content>
  
  
  