<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Videos</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="rcontainer">
    <ion-card class="container">
      <ion-list>
        <ion-item *ngFor="let video of Videos">
          <ion-label>
            <h3>{{ video.titulo }}</h3>
            <h5>{{ video.descripcion }}</h5>
            <p>{{ video.fecha | date:'short' }}</p>
          </ion-label>
          <ion-button slot="end" color="primary" (click)="verVideo(video.url)">
            Ver en YouTube
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-card>
</ion-content>
