<ion-header>
  <ion-toolbar>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="video-container" *ngFor="let video of videos">
    <iframe 
      width="100%" 
      height="315" 
      [src]="'https://www.youtube.com/embed/' + video.id" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
    <ion-button expand="block" fill="clear">{{video.title}}</ion-button>
  </div>
</ion-content>