<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle de la Noticia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle de la Noticia</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

 <ion-card class="container">

  <ion-list *ngIf="noticia">
  
     <ion-item *ngIf="noticia.foto"> 
      <img [src]="noticia.foto" alt="Imagen de la noticia" style="border-radius: 10px;"> 
    </ion-item> 

    <ion-item>
      <ion-label>
         <h2>{{ noticia.titulo }}</h2> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
       <p><strong>Fecha:</strong> {{ noticia.fecha | date:'short' }}</p> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p>{{ noticia.contenido }}</p> 
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
