<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Situaciones</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Situaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="situacionForm" (ngSubmit)="registrarSituacion()">
    
    <ion-item>
      <ion-input label="Titulo" labelPlacement="floating" type="text" formControlName="titulo"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-textarea label="Descripcion" labelPlacement="floating" type="text" formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-button type="button" expand="full" (click)="tomarFoto()">Tomar Foto</ion-button>
    <img src="{{situacionForm.value.imagen}}" alt="Foto de la situacion" style="height: 50%; width: 50%;">
    <ion-item>
      <div id="mapSituacionCrear" style="height: 400px; width: 100%;"></div>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="!situacionForm.valid">Crear nueva situacion</ion-button>
  </form>
</ion-content>
